language: python

python:
  - 3.7.4
  - 3.8.0

install:
  - pip install -r requirements.txt

script:
  - cd OBBC/
  - python -m unittest test_routes.py test_validation_rng.py

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
