{% extends 'conteneur.html' %}

{% block content %}

{% block titre %}Affichage{% endblock titre %}

{% if chanson_id <= 10 %}
<div>
    <br>
    <br>
    <div class="container">
       
        {{chanson|safe}}
        
    </div>
    <br>
</div>
{% else %}
<div>
    <br>
    <br>
    <div class="container">
        <br>
        <br>
        <h1>Désolé, pas encore de chanson ici</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
</div>
{% endif %}



{% endblock content %}
