{% extends 'layouts/default.html' %}


{% block body %}



<div class="container">
    <div class="row">
        <div class="col-6">
            <img style="float:inherit; padding:47px 291px !important;" src="{{url_for('static', filename='images/img_Error_mbrz.png')}}" alt="grand-mères bretonnes face à la mère">
        </div>
        <div class="col-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <h1 style="text-align: justify !important">ERREUR 500 : INTERNAL SERVER ERROR</h1>
            <p style="font-family: rubik; text-align: justify;">Serveur à la mer ! Excusez nous pour la gêne occasionné, nous mettons tout en oeuvre pour rétablir le service au plus vite.</p>
            <hr>
        </div>
    </div>
</div>
{% endblock body %}
