    <!------------------ Framework Bootstrap ----------------------->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!------------------ CSS global ----------------------->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    
    <!------------------ CSS > carte-interactive ----------------------->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_carte.css')}}">
    
    <!------------------ CSS > apparition au défilement API Intersection Observer ----------------------->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen_APIIO.css')}}">

    <!-------------------- Fonts Google ---------------------------->

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Bellota+Text|Cormorant+Garamond|Nunito|Rubik&display=swap" rel="stylesheet"> 